.portfolioitem img {
  float: left;
  margin: 5px;
}

.portfolioitem h2 {
  font-size: 2em;
  padding: .3em;
}

.portfolioitem h3 {
  font-size: 1.5em;
  padding: .3em;
}

.portfolioitem p {
  padding: .3em;
  font-size: 1em;
}

.template {
  display: none;
}

.portfolioitem img {
  max-width: 200px;
  max-height: 200px;
}
